body {
    font-family: Arial;
}

.animal-container > div {
    background-color: #f1f1f1;
    text-align: center;
    border: solid 1px black;
}

.content-container {
    display: inline;
}

.animal-carousel {
    width: 640px;
    margin: auto;
}


#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    background-color: #f1f1f1;
    text-align: center;
}